spring.application.name=java_backend_api_iot_data

# Base de datos 
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://localhost:5433/java_backend_api_iot_data
spring.datasource.username=postgres
spring.datasource.password=1234

# Swagger
springdoc.api-docs.enabled=true
springdoc.swagger-ui.path=/doc/swagger-ui.html
